/* ====================================   Header's style   ==================================== */

#m-site-header {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .14);
    margin-bottom: 20px;
    .site-wrap {
        position: relative;
    }
    .logo {
        width: 110px;
    }
    .fa-navicon {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 24px;
        color: #555;
        @include transition(all, 0.2, ease);
        &.is-active {
            color: $brand-primary;
            background: #f0f0f0;
            padding: 18px 10px;
            top: -10px;
            right: 0px;
        }
    }
    @include breakpoint(md) {
        display: none;
    }
}

.mobile {
    &__menu {
        background: #f0f0f0;
        margin: -20px 0 20px;
        padding: 10px;
        display: none;
    }
    &__search {
        position: relative;
        margin-bottom: 10px;
        .fa-search {
            position: absolute;
            right: 2px;
            top: 0px;
            padding: 8px;
            font-size: 18px;
            @include transition(all, 0.2, ease);
            @include haf {
                color: $brand-primary;
            }
        }
    }
    &__cate-listing {
        li {
            font-family: $font-family-special, arial, sans-serif;
            @include font-size(18, 22);
            margin: 7px 0;
            a {
                &::before {
                    content: '•';
                    display: inline-block;
                    margin-right: 10px;
                }
                display: block;
                @extend .link-primary;
            }
        }
    }
}

#site-header {
    @include clearfix();
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
    @include breakpoint(md) {}
}

.site-header {
    &__topbar {
        @include clearfix();
        padding: 0 10px;
        background-color: #f0f0f0;
        @include font-size(12, 35);
        z-index: 5;
        time {
            float: left;
        }
    }
    &__search {
        float: right;
        position: relative;
        width: 100%;
        .form-control {
            height: 25px;
            margin-top: 5px;
            font-size: 12px;
        }
        span {
            cursor: pointer;
            position: absolute;
            right: 4px;
            top: 9px;
            font-size: 16px;
            @include transition(all, 0.2, ease);
            @include haf {
                color: $brand-primary;
            }
        }
    }
    &__content {
        min-height: 140px;
        .logo {
            width: 180px;
            position: absolute;
            left: 0;
            top: 20px;
            z-index: 30;
            img {
                -webkit-filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));
                filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));
            }
            @include breakpoint(1024px, 1366px) {
                width: 160px;
            }
        }
        .site-wrap {
            position: relative;
        }
        .bx {
            &-wrapper {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(to top right, $brand-primary, $brand-success);
                    opacity: 0.3;
                    z-index: 2;
                }
            }
            &-pager {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 3;
                &-item {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    text-indent: -999em;
                    position: relative;
                    margin: 0 5px;
                }
                &-link {
                    cursor: pointer;
                    background: white;
                    opacity: 0.7;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid #777;
                    border-radius: 50%;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__nav {
        background: $brand-primary;
    }
    &__slider {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.navigator {
    @include clearfix();
    @include font-size(16, 45);
    >li {
        float: left;
        position: relative;
        margin-right: 1px;
        a {
            display: block;
            padding: 0 10px;
            background: transparent;
            @include transition(all, 0.2, ease);
            color: white;
            &:hover {
                background: #f0f0f0;
                color: $brand-primary;
            }
            @include breakpoint(1024px, 1366px) {
                padding: 0 7px;
            }
        }
        &:hover {
            .navigator__child {
                left: auto;
                &.is-full {
                    left: -200px;
                }
            }
            .navigator__search {
                right: 0;
            }
        }
        &.is-active {
            a {
                background: #f0f0f0;
                color: $brand-primary;
            }
        }
    }
    &__child {
        position: absolute;
        top: 100%;
        left: -999em;
        width: 260px;
        z-index: 2;
        @include has-shadow();
        >li {
            a {
                background: #eee;
                color: $brand-primary !important;
                &:hover {
                    background: #ddd;
                }
            }
        }
        &.is-full {
            width: 840px;
            background: #f0f0f0;
            @include clearfix();
            >li {
                width: 16.66%;
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                line-height: 35px;
                float: left;
            }
        }
    }
    &__search {
        float: right !important;
        color: white;
        >.fa {
            padding: 0 15px;
            @include transition(all, 0.2, ease);
            cursor: pointer;
        }
        .fa-close {
            padding: 0 16px;
        }
        .navigator__child {
            width: 300px;
            padding: 10px 15px;
            background: #eee;
            display: none;
        }
        &:hover,
        &.is-active {
            >.fa {
                background-color: #eee;
                color: $brand-primary;
                line-height: 45px;
            }
            .navigator__child {
                left: initial !important;
                right: 0;
            }
        }
    }
}